body {
  background-color: black;
}

#root {
  max-width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.episode-container {
  background-color: silver;
  text-align: center;
  align-items: center;
  min-height: 450px;
  /* overflow: scroll-hidden; */
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.title-container {
  background-color: lightslategray;
  border: 1px solid black;
  border-radius: 5px;
  height: 4rem;
  margin: 16px 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

img {
  max-width: 95%;
}

.title {
  margin: auto 0;
  -webkit-text-stroke: thin;
  /* vertical-align: middle; */
}

.summary {
  padding: 0 16px;
  text-align: justify;
}

.data-origin {
  color: beige;
}

@media (min-width: 576px) {
  .episode-container {
    width: 80%;
  }
}

@media (min-width: 640px) {
  .episode-container {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .episode-container {
    width: 32%;
  }
}

@media only screen and (min-width: 1200px) {
  .episode-container {
    width: 24%;
  }
}
